openapi: 3.2.0
info:
  title: Welcome to the Respondology Moderation Reasons API
  version: v1
  description: 'Respondology

    is an AI-powered platform that helps brands moderate, analyze, and activate conversations at

    scale.'
servers:
- url: https://webhooks.respondology.io/
  description: Production API server
tags:
- name: Moderation Reasons
  description: 'The following table lists all of the possible moderation rejection reasons

    that may be returned in the `moderation_reasons` array when a comment is rejected, ordered alphabetically.'
paths:
  /moderation_reasons:
    get:
      tags:
      - Moderation Reasons
      summary: Table of moderation rejection reasons
      description: '| Reason | Description |

        |--------|-------------|

        | **Ableism** | The comment contains discriminatory content based on physical or mental disabilities. |

        | **Ageism** | The comment contains discriminatory content based on age. |

        | **Antireligion** | The comment contains discriminatory content based on religion. |

        | **Availabilty** | The comment is expressing concern over the availability of the product, service, or membership. |

        | **Body Shaming** | The comment contains discriminatory content based on the appearance of a person''s body. |

        | **Brand Damage** | The comment contains damaging commentary towards the brand or organization. |

        | **Cancellation/Returns** | The comment is expressing a desire to cancel or return the product, service, or membership. |

        | **Comment is Too Long** | The comment is too long. |

        | **Competitor Comparisons** | The comment is mentioning a competitor to the organization, brand, or product. |

        | **Contains Image or Video** | The comment contains an attached image or video. |

        | **Contains URLs** | The comment contains one or more URLs. |

        | **Controversial Subjects** | The comment contains controversial subjects.|

        | **Custom Phrase** | The comment contains a custom phrase. |

        | **Customer Service Quality** | The comment is expressing a complaint related to quality of customer service the commenter is receiving. |

        | **Drug References** | The comment contains references to illicit drugs or paraphernalia. |

        | **Homophobia** | The comment contains discriminatory content based on sexual orientation. |

        | **Instant Commenter Hide** | The commenter commented too soon after post creation, indicating they are likely a bot. |

        | **LGBTQ Slurs** | The comment contains slurs directed towards the LGBTQ+ community. |

        | **Mild Swearing** | The comment contains mild swearing. |

        | **Personal Attacks** | The comment contains a personal attack towards another commenter. |

        | **Political References** | The comment contains political references. |

        | **Pricing Sensitivity** | The comment is expressing sensitivity towards the price of the product, service, or membership. |

        | **Pride Month** | The comment is expressing a negative opinion related to Pride Month. |

        | **Product Quality** | The comment is expressing concern over the quality or capability of the product, service, or membership. |

        | **Racism** | The comment contains discriminatory content based on race. |

        | **Self-Harm** | The comment contains a threat of violence towards oneself. |

        | **Severe Swearing** | The comment contains severe swearing.

        | **Sexism** | The comment contains discriminatory content based on sex or gender. |

        | **Sexual References** | The comment contains sexual references.

        | **Shipping Complaints** | The comment is expressing a complaint related to the shipment of the product. |

        | **Short Spam Comment** | The commenter commented with a short messsage length too soon after post creation, indicating they are likely a bot. |

        | **Spam** | The comment contains irrelevant content for the purposes of advertising, phishing, and self-promotion. |

        | **Spam Profile** | The commenter profile is being used to spam. |

        | **Threat** | The comment contains a threat of violence towards an individual, organization, or location. |

        | **Temporary User Hide** | The commenter is currently blocked due to recent rejected comments. |

        | **Transphobia** | The comment contains discriminatory content based on transgenderism. |

        | **Trending Topics** | The comment contains references to trending topics. |

        | **Website App Link Issues/Outages** | The comment is mentioning an outage of a website or app. |'
      operationId: getModerationReasons
      x-operation-id-source: derived
x-tagGroups:
- name: Comments
  tags:
  - Comments
- name: Comment Results
  tags:
  - Comment Results
- name: Moderation Reasons
  tags:
  - Moderation Reasons
- name: Posts
  tags:
  - Posts
- name: Post Results
  tags:
  - Post Results
- name: Changelog
  tags:
  - Changelog
