{
  "openapi": "3.1.0",
  "info": {
    "title": "Welcome to the Respondology API",
    "version": "v1",
    "description": "<a href=\"https://www.respondology.com\" target=\"_blank\" rel=\"noopener noreferrer\">\n  Respondology\n</a> is an AI-powered platform that helps brands moderate, analyze, and activate conversations at\nscale. Our product enables teams to automatically identify and manage spam and brand-damaging comments while\nelevating meaningful audience interactions. Using advanced language and engagement analysis, the platform\nunderstands intent and context to support accurate, brand-safe moderation without relying on rigid rules or\nkeyword lists. Beyond moderation, Respondology delivers real-time analytics that reveal what audiences are\ntalking about, how conversations are evolving, and where engagement opportunities exist. Within seconds,\nbrands can uncover trends, measure sentiment, and gain actionable insight across high-volume comment streams.\nBuilt for fast-moving social and digital teams, Respondology brings moderation, insight, and activation\ntogether in one unified Comment Activation Platform—helping brands protect their presence and turn\nconversations into measurable impact.\n\n## Getting Started\n\nTo begin using Respondology, contact our team to set up your account and receive your API key and secret.\nDuring onboarding, you’ll also configure the endpoint where Respondology will deliver moderation and analysis\nresults. Respondology uses webhooks to send results asynchronously, so there’s no need to keep an open\nconnection while content is being processed. Once setup is complete, you can start submitting posts and\ncomments for moderation and analytics immediately. For fine-tuned control, moderation behavior can be\ncustomized in the\n<a href=\"https://v2.app.respondology.io/moderate\" target=\"_blank\" rel=\"noopener noreferrer\">\n  Moderate\n</a> asset settings panel. Your account manager can also help tailor configurations\nto align with your brand standards and specific use cases. Follow the endpoint guides below to start\nintegrating Respondology into your workflow or download the OpenAPI specification\n[here](swagger.json).\n"
  },
  "tags": [
    {
      "name": "Comments",
      "description": "Send comments to Respondology for moderation and analysis, update or remove them as needed, and check their\ncurrent processing status.\n"
    },
    {
      "name": "Comment Results",
      "description": "Respondology delivers comment moderation and analysis results via webhook. These webhooks provide the\noutcome of moderation decisions along with any recorded analysis data. To configure or update the endpoint\nwhere result webhooks are sent, contact your [account manager](mailto:support@respondology.com).\n"
    },
    {
      "name": "Moderation Reasons",
      "description": "The following table lists all of the possible moderation rejection reasons\nthat may be returned in the `moderation_reasons` array when a comment is rejected, ordered alphabetically.\nIf a comment is rejected for multiple reasons, all of them will be included in the `moderation_reasons`\narray.\n\nThese reasons match the ones visible in the Moderate UI. The strictness of moderation for many of these\nreasons may be adjusted via your account moderation settings in Moderate. Please contact your account\nmanager for assistance if necessary.\n"
    },
    {
      "name": "Posts",
      "description": "Submit posts to Respondology for moderation and analysis, update or remove them as needed, and check their\ncurrent processing status.\n"
    },
    {
      "name": "Post Results",
      "description": "Respondology delivers post analysis and recording results via webhook. To configure or update the endpoint\nwhere result webhooks are sent, contact your account manager.\n"
    },
    {
      "name": "Changelog",
      "description": "List of updates to the Respondology API and its documentation.\n## 2025-11-18\n- V1 of the API completed, initial documentation created\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Comments",
      "tags": [
        "Comments"
      ]
    },
    {
      "name": "Comment Results",
      "tags": [
        "Comment Results"
      ]
    },
    {
      "name": "Moderation Reasons",
      "tags": [
        "Moderation Reasons"
      ]
    },
    {
      "name": "Posts",
      "tags": [
        "Posts"
      ]
    },
    {
      "name": "Post Results",
      "tags": [
        "Post Results"
      ]
    },
    {
      "name": "Changelog",
      "tags": [
        "Changelog"
      ]
    }
  ],
  "servers": [
    {
      "url": "https://webhooks.respondology.io/",
      "description": "Production API server"
    }
  ],
  "webhooks": {
    "comment_result": {
      "post": {
        "summary": "Comment result webhook",
        "description": "Payload sent to your endpoint when moderation is completed for a submitted comment, or when the comment has been recorded if moderation is not requested.",
        "tags": [
          "Comment Results"
        ],
        "parameters": [
          {
            "name": "X-Hub-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "74dff3501a7e41a45c6381b7c20fd0ecb84cc54164af9b9c493aadb54d0ca5ca"
            },
            "description": "A SHA-256 HMAC signature of the request body, created using your API key’s secret. You can use this header to verify that the webhook originated from Respondology and that its payload was not tampered with.\nTo verify, compute a SHA-256 HMAC using the raw request body in JSON format and the secret. If this matches the signature, the result is authentic."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "comment_id",
                  "account_id",
                  "screen_name",
                  "message",
                  "language",
                  "custom",
                  "webhook_sending_initiated_at",
                  "request_id"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "moderated",
                      "recorded"
                    ],
                    "example": "moderated",
                    "description": "Indicates whether the updated comment was moderated or only recorded for analysis. The moderation related fields below will not be returned if the comment was only recorded."
                  },
                  "comment_id": {
                    "type": "string",
                    "example": "45305901000853414072",
                    "description": "The id of the processed comment. This will match the `comment_id` returned when the comment was submitted."
                  },
                  "account_id": {
                    "type": "string",
                    "example": "93135838437690541987",
                    "description": "The id of the account the processed comment is associated with."
                  },
                  "screen_name": {
                    "type": "string",
                    "example": "johnsmith",
                    "description": "The screen name of the creator of the processed comment."
                  },
                  "message": {
                    "type": "string",
                    "example": "This is a comment message.",
                    "description": "The message of the processed comment."
                  },
                  "language": {
                    "type": "string",
                    "example": "EN",
                    "description": "The detected language of the processed comment, in ISO 639-2 format. Will return 'UN' for unknown if the language could not be detected."
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true,
                    "example": {
                      "key": "value"
                    },
                    "description": "The custom field included with the processed comment during submission, for whatever tracking is required by your system."
                  },
                  "webhook_sending_initiated_at": {
                    "type": "string",
                    "format": "date_time",
                    "example": "2025-07-14T12:01:10Z",
                    "description": "The time at which sending the result was initiated, in UTC time and ISO 8601 format."
                  },
                  "request_id": {
                    "type": "string",
                    "example": "2025-10-27-bb6315110cc5477bef57c619",
                    "description": "A unique id for the request that can be used for tracking and troubleshooting. This will match the `request_id` that was returned when the comment was submitted."
                  },
                  "moderation_completed_at": {
                    "type": "string",
                    "format": "date_time",
                    "example": "2025-07-14T12:01:08Z",
                    "description": "The time at which moderation was completed, in UTC time and ISO 8601 format. This field will not be included if the comment was not moderated."
                  },
                  "moderation_result": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "rejected"
                    ],
                    "example": "rejected",
                    "description": "The moderation result. This field will not be included if the comment was not moderated."
                  },
                  "moderation_reasons": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "Spam",
                      "Offensive Language"
                    ],
                    "description": "An array of moderation reasons for rejected comments, which match the categories visible in Moderate. This field will not be included if the comment was not moderated or was approved. See the [Moderation Reasons](#tag/Moderation-Reasons) section for an explanation of each reason."
                  }
                }
              },
              "example": {
                "action": "moderated",
                "comment_id": "45305901000853414072",
                "account_id": "93135838437690541987",
                "screen_name": "johnsmith",
                "message": "This is a comment message.",
                "language": "EN",
                "custom": {
                  "key": "value"
                },
                "webhook_sending_initiated_at": "2025-07-14T12:01:10Z",
                "request_id": "2025-10-27-bb6315110cc5477bef57c619",
                "moderation_completed_at": "2025-07-14T12:01:08Z",
                "moderation_result": "rejected",
                "moderation_reasons": [
                  "Spam",
                  "Offensive Language"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Your server should return a 200 OK result when it successfully processes the webhook. If a 200 OK result is not received, result sending will be retried for 72 hours with exponential backoff."
          }
        }
      }
    },
    "comment_update_result": {
      "post": {
        "summary": "Comment update result webhook",
        "description": "Payload sent to your endpoint when moderation is completed for an updated comment, or when the comment update has been recorded if moderation is not requested.",
        "tags": [
          "Comment Results"
        ],
        "parameters": [
          {
            "name": "X-Hub-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "74dff3501a7e41a45c6381b7c20fd0ecb84cc54164af9b9c493aadb54d0ca5ca"
            },
            "description": "A SHA-256 HMAC signature of the request body, created using your API key’s secret. You can use this header to verify that the webhook originated from Respondology and that its payload was not tampered with.\nTo verify, compute a SHA-256 HMAC using the raw request body in JSON format and the secret. If this matches the signature, the result is authentic."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "comment_id",
                  "account_id",
                  "screen_name",
                  "message",
                  "language",
                  "custom",
                  "webhook_sending_initiated_at",
                  "request_id"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "moderated",
                      "recorded"
                    ],
                    "example": "moderated",
                    "description": "Indicates whether the updated comment was moderated or only recorded for analysis. The moderation related fields below will not be returned if the comment was only recorded."
                  },
                  "comment_id": {
                    "type": "string",
                    "example": "45305901000853414072",
                    "description": "The id of the updated comment. This will match the `comment_id` submitted with the comment update information."
                  },
                  "account_id": {
                    "type": "string",
                    "example": "93135838437690541987",
                    "description": "The id of the account the updated comment is associated with."
                  },
                  "screen_name": {
                    "type": "string",
                    "example": "johnsmith",
                    "description": "The screen name of the creator of the updated comment."
                  },
                  "message": {
                    "type": "string",
                    "example": "This is an updated comment message.",
                    "description": "The message of the updated comment."
                  },
                  "language": {
                    "type": "string",
                    "example": "EN",
                    "description": "The detected language of the processed comment, in ISO 639-2 format. Will return 'UN' for unknown if the language could not be detected."
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true,
                    "example": {
                      "key": "value"
                    },
                    "description": "The custom field included with the updated comment during submission, for whatever tracking is required by your system."
                  },
                  "webhook_sending_initiated_at": {
                    "type": "string",
                    "format": "date_time",
                    "example": "2025-07-18T13:45:00Z",
                    "description": "The time at which sending the result was initiated, in UTC time and ISO 8601 format."
                  },
                  "request_id": {
                    "type": "string",
                    "example": "2025-10-27-bb6315110cc5477bef57c619",
                    "description": "A unique id for the request that can be used for tracking and troubleshooting. This will match the `request_id` that was returned when the comment was submitted."
                  },
                  "moderation_completed_at": {
                    "type": "string",
                    "format": "date_time",
                    "example": "2025-07-14T12:01:08Z",
                    "description": "The time at which moderation was completed, in UTC time and ISO 8601 format. This field will not be included if the comment was not moderated."
                  },
                  "moderation_result": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "rejected"
                    ],
                    "example": "rejected",
                    "description": "The moderation result. This field will not be included if the comment was not moderated."
                  },
                  "moderation_reasons": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "Spam",
                      "Offensive Language"
                    ],
                    "description": "An array of moderation reasons for rejected comments, which match the categories visible in Moderate. This field will not be included if the comment was not moderated or was approved. See the [Moderation Reasons](#tag/Moderation-Reasons) section for an explanation of each reason."
                  }
                }
              },
              "example": {
                "action": "moderated",
                "comment_id": "45305901000853414072",
                "account_id": "93135838437690541987",
                "screen_name": "johnsmith",
                "message": "This is a comment message.",
                "language": "EN",
                "custom": {
                  "key": "value"
                },
                "webhook_sending_initiated_at": "2025-07-14T12:01:10Z",
                "request_id": "2025-10-27-bb6315110cc5477bef57c619",
                "moderation_completed_at": "2025-07-14T12:01:08Z",
                "moderation_result": "rejected",
                "moderation_reasons": [
                  "Spam",
                  "Offensive Language"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Your server should return a 200 OK result when it successfully processes the webhook. If a 200 OK result is not received, result sending will be retried for 72 hours with exponential backoff."
          }
        }
      }
    },
    "comment_error_result": {
      "post": {
        "summary": "Comment error result webhook",
        "description": "Payload sent to your endpoint when an error occurs during processing or moderation for a submitted or updated comment.",
        "tags": [
          "Comment Results"
        ],
        "parameters": [
          {
            "name": "X-Hub-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "74dff3501a7e41a45c6381b7c20fd0ecb84cc54164af9b9c493aadb54d0ca5ca"
            },
            "description": "A SHA-256 HMAC signature of the request body, created using your API key’s secret. You can use this header to verify that the webhook originated from Respondology and that its payload was not tampered with.\nTo verify, compute a SHA-256 HMAC using the raw request body in JSON format and the secret. If this matches the signature, the result is authentic."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "comment_id",
                  "account_id",
                  "screen_name",
                  "message",
                  "custom",
                  "error",
                  "request_id"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "example": "errored",
                    "description": "Indicates the comment submission or update request has errored."
                  },
                  "comment_id": {
                    "type": "string",
                    "example": "45305901000853414072",
                    "description": "The id of the comment that has caused the error. This will match the `comment_id` returned when the comment was submitted, or the `comment_id` submitted with the comment if it was being updated."
                  },
                  "account_id": {
                    "type": "string",
                    "example": "93135838437690541988",
                    "description": "The id of the account of the comment that has caused the error."
                  },
                  "screen_name": {
                    "type": "string",
                    "example": "johnsmith",
                    "description": "The screen name of the comment that has caused the error."
                  },
                  "comment_message": {
                    "type": "string",
                    "example": "This is an erroring comment message.",
                    "description": "The message of the comment that has caused the error."
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true,
                    "example": {
                      "key": "value"
                    },
                    "description": "The custom field included with the comment during submission, for whatever tracking is required by your system."
                  },
                  "error": {
                    "type": "object",
                    "required": [
                      "code",
                      "message",
                      "status"
                    ],
                    "description": "Detailed information about the error that has occurred.",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Please check your parameters",
                        "description": "A message regarding the error, with suggested actions."
                      },
                      "status": {
                        "type": "string",
                        "example": "BAD_REQUEST",
                        "description": "The error status text."
                      },
                      "code": {
                        "type": "integer",
                        "example": 400,
                        "description": "The error status code."
                      },
                      "details": {
                        "type": "array[string]",
                        "example": "invalid account_id submitted",
                        "description": "A list of error details in string array format."
                      }
                    }
                  },
                  "request_id": {
                    "type": "string",
                    "example": "2025-10-27-bb6315110cc5477bef57c619",
                    "description": "A unique id for the request that can be used for tracking and troubleshooting. This will match the `request_id` that was returned when the comment was submitted."
                  }
                }
              },
              "example": {
                "action": "errored",
                "comment_id": "45305901000853414072",
                "account_id": "93135838437690541988",
                "screen_name": "johnsmith",
                "message": "This is an erroring comment message.",
                "error": {
                  "message": "Please check your parameters",
                  "status": "BAD_REQUEST",
                  "code": 400,
                  "details": [
                    "invalid account_id submitted"
                  ]
                },
                "request_id": "2025-10-27-bb6315110cc5477bef57c619"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Your server should return a 200 OK result when it successfully processes the webhook. If a 200 OK result is not received, result sending will be retried for 72 hours with exponential backoff."
          }
        }
      }
    },
    "post_result": {
      "post": {
        "summary": "Post result webhook",
        "description": "Payload sent to your endpoint when the post has been recorded.",
        "tags": [
          "Post Results"
        ],
        "parameters": [
          {
            "name": "X-Hub-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "74dff3501a7e41a45c6381b7c20fd0ecb84cc54164af9b9c493aadb54d0ca5ca"
            },
            "description": "A SHA-256 HMAC signature of the request body, created using your API key’s secret. You can use this header to verify that the webhook originated from Respondology and that its payload was not tampered with.\nTo verify, compute a SHA-256 HMAC using the raw request body in JSON format and the secret. If this matches the signature, the result is authentic."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "post_id",
                  "account_id",
                  "screen_name",
                  "title",
                  "caption",
                  "custom",
                  "webhook_sending_initiated_at",
                  "request_id"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "example": "recorded",
                    "description": "Indicates the post has been recorded."
                  },
                  "post_id": {
                    "type": "string",
                    "example": "82520585537490124386",
                    "description": "The id of the processed post. This will match the `post_id` returned when the post was submitted."
                  },
                  "account_id": {
                    "type": "string",
                    "example": "93135838437690541987",
                    "description": "The id of the account the processed post is associated with."
                  },
                  "screen_name": {
                    "type": "string",
                    "example": "johnsmith",
                    "description": "The screen name of the creator of the processed post."
                  },
                  "title": {
                    "type": "string",
                    "example": "This is a post title.",
                    "description": "The title of the created post."
                  },
                  "caption": {
                    "type": "string",
                    "example": "This is a post caption.",
                    "description": "The caption of the created post."
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true,
                    "example": {
                      "key": "value"
                    },
                    "description": "The custom field included with the processed post during submission, for whatever tracking is required by your system."
                  },
                  "webhook_sending_initiated_at": {
                    "type": "string",
                    "format": "date_time",
                    "description": "The time at which sending the result was initiated, in UTC time and ISO 8601 format."
                  },
                  "request_id": {
                    "type": "string",
                    "example": "2025-10-27-bb6315110cc5477bef57c619",
                    "description": "A unique id for the request that can be used for tracking and troubleshooting. This will match the `request_id` that was returned when the post was submitted."
                  }
                }
              },
              "example": {
                "action": "recorded",
                "post_id": "82520585537490124386",
                "account_id": "93135838437690541987",
                "screen_name": "johnsmith",
                "title": "This is a post title.",
                "caption": "This is a post caption.",
                "custom": {
                  "key": "value"
                },
                "webhook_sending_initiated_at": "2025-07-14T12:01:10Z",
                "request_id": "2025-10-27-bb6315110cc5477bef57c619"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Your server should return a 200 OK result when it successfully processes the webhook. If a 200 OK result is not received, result sending will be retried for 72 hours with exponential backoff."
          }
        }
      }
    },
    "post_update_result": {
      "post": {
        "summary": "Post update result webhook",
        "description": "Payload sent to your endpoint when the post has been updated.",
        "tags": [
          "Post Results"
        ],
        "parameters": [
          {
            "name": "X-Hub-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "74dff3501a7e41a45c6381b7c20fd0ecb84cc54164af9b9c493aadb54d0ca5ca"
            },
            "description": "A SHA-256 HMAC signature of the request body, created using your API key’s secret. You can use this header to verify that the webhook originated from Respondology and that its payload was not tampered with.\nTo verify, compute a SHA-256 HMAC using the raw request body in JSON format and the secret. If this matches the signature, the result is authentic."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "post_id",
                  "account_id",
                  "screen_name",
                  "title",
                  "caption",
                  "custom",
                  "webhook_sending_initiated_at",
                  "request_id"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "example": "recorded",
                    "description": "Indicates the post update has been recorded."
                  },
                  "post_id": {
                    "type": "string",
                    "example": "82520585537490124386",
                    "description": "The id of the updated post. This will match the `post_id` submitted with the comment update information."
                  },
                  "account_id": {
                    "type": "string",
                    "example": "93135838437690541987",
                    "description": "The id of the account the updated post is associated with."
                  },
                  "screen_name": {
                    "type": "string",
                    "example": "johnsmith",
                    "description": "The screen name of the creator of the updated post."
                  },
                  "title": {
                    "type": "string",
                    "example": "This is an updated post title.",
                    "description": "The title of the updated post."
                  },
                  "caption": {
                    "type": "string",
                    "example": "This is an updated post caption.",
                    "description": "The caption of the updated post."
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true,
                    "example": {
                      "key": "value"
                    },
                    "description": "The custom field included with the updated post during submission, for whatever tracking is required by your system."
                  },
                  "webhook_sending_initiated_at": {
                    "type": "string",
                    "format": "date_time",
                    "description": "The time at which sending the result was initiated, in UTC time and ISO 8601 format."
                  },
                  "request_id": {
                    "type": "string",
                    "example": "2025-10-27-bb6315110cc5477bef57c619",
                    "description": "A unique id for the request that can be used for tracking and troubleshooting. This will match the `request_id` that was returned when the post was submitted."
                  }
                }
              },
              "example": {
                "action": "recorded",
                "post_id": "82520585537490124386",
                "account_id": "93135838437690541987",
                "screen_name": "johnsmith",
                "title": "This is an updated post title.",
                "caption": "This is an updated post caption.",
                "custom": {
                  "key": "value"
                },
                "webhook_sending_initiated_at": "2025-07-14T12:01:10Z",
                "request_id": "2025-10-27-bb6315110cc5477bef57c619"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Your server should return a 200 OK result when it successfully processes the webhook. If a 200 OK result is not received, result sending will be retried for 72 hours with exponential backoff."
          }
        }
      }
    },
    "post_error_result": {
      "post": {
        "summary": "Post error result webhook",
        "description": "Payload sent to your endpoint when processing error occurs during processing for a submitted or updated post.",
        "tags": [
          "Post Results"
        ],
        "parameters": [
          {
            "name": "X-Hub-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "74dff3501a7e41a45c6381b7c20fd0ecb84cc54164af9b9c493aadb54d0ca5ca"
            },
            "description": "A SHA-256 HMAC signature of the request body, created using your API key’s secret. You can use this header to verify that the webhook originated from Respondology and that its payload was not tampered with.\nTo verify, compute a SHA-256 HMAC using the raw request body in JSON format and the secret. If this matches the signature, the result is authentic."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "post_id",
                  "account_id",
                  "screen_name",
                  "message",
                  "post_title",
                  "post_caption",
                  "custom",
                  "error",
                  "request_id"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "example": "errored",
                    "description": "Indicates the post submission or update request has errored."
                  },
                  "post_id": {
                    "type": "string",
                    "example": "82520585537490124386",
                    "description": "The id of the post that has caused the error. This will match the `post_id` returned when the post was submitted, or the `post_id` submitted with the post if it was being updated."
                  },
                  "account_id": {
                    "type": "string",
                    "example": "93135838437690541988",
                    "description": "The id of the account of the post that has caused the error."
                  },
                  "screen_name": {
                    "type": "string",
                    "example": "johnsmith",
                    "description": "The screen name of the creator of the post that has caused the error."
                  },
                  "post_title": {
                    "type": "string",
                    "example": "This is an erroring post title.",
                    "description": "The title of the post that has caused the error."
                  },
                  "post_caption": {
                    "type": "string",
                    "example": "This is an erroring post caption.",
                    "description": "The caption of the post that has caused the error."
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true,
                    "example": {
                      "key": "value"
                    },
                    "description": "The custom field included with the post during submission, for whatever tracking is required by your system."
                  },
                  "error": {
                    "type": "object",
                    "required": [
                      "code",
                      "message",
                      "status"
                    ],
                    "description": "Detailed information about the error that has occurred.",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Please check your parameters",
                        "description": "A message regarding the error, with suggested actions."
                      },
                      "status": {
                        "type": "string",
                        "example": "BAD_REQUEST",
                        "description": "The error status text."
                      },
                      "code": {
                        "type": "integer",
                        "example": 400,
                        "description": "The error status code."
                      },
                      "details": {
                        "type": "array[string]",
                        "example": "invalid account_id submitted",
                        "description": "A list of error details in string array format."
                      }
                    }
                  },
                  "request_id": {
                    "type": "string",
                    "example": "2025-10-27-bb6315110cc5477bef57c619",
                    "description": "A unique id for the request that can be used for tracking and troubleshooting. This will match the `request_id` that was returned when the post was submitted."
                  }
                }
              },
              "example": {
                "action": "errored",
                "post_id": "82520585537490124386",
                "account_id": "93135838437690541988",
                "screen_name": "johnsmith",
                "post_title": "This is an erroring post title.",
                "post_caption": "This is an erroring post caption.",
                "custom": {
                  "key": "value"
                },
                "error": {
                  "message": "Please check your parameters",
                  "status": "BAD_REQUEST",
                  "code": 400,
                  "details": [
                    "invalid account_id submitted"
                  ]
                },
                "request_id": "2025-10-27-bb6315110cc5477bef57c619"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Your server should return a 200 OK result when it successfully processes the webhook. If a 200 OK result is not received, result sending will be retried for 72 hours with exponential backoff."
          }
        }
      }
    }
  },
  "paths": {
    "/moderation_reasons": {
      "get": {
        "tags": [
          "Moderation Reasons"
        ],
        "summary": "Table of moderation rejection reasons",
        "description": "| Reason | Description |\n|--------|-------------|\n| **Ableism** | The comment contains discriminatory content based on physical or mental disabilities. |\n| **Ageism** | The comment contains discriminatory content based on age. |\n| **Antireligion** | The comment contains discriminatory content based on religion. |\n| **Availabilty** | The comment is expressing concern over the availability of the product, service, or membership. |\n| **Body Shaming** | The comment contains discriminatory content based on the appearance of a person's body. |\n| **Brand Damage** | The comment contains damaging commentary towards the brand or organization. |\n| **Cancellation/Returns** | The comment is expressing a desire to cancel or return the product, service, or membership. |\n| **Comment is Too Long** | The comment is too long. |\n| **Competitor Comparisons** | The comment is mentioning a competitor to the organization, brand, or product. |\n| **Contains Image or Video** | The comment contains an attached image or video. |\n| **Contains URLs** | The comment contains one or more URLs. |\n| **Controversial Subjects** | The comment contains controversial subjects.|\n| **Custom Phrase** | The comment contains a custom phrase. |\n| **Customer Service Quality** | The comment is expressing a complaint related to quality of customer service the commenter is receiving. |\n| **Drug References** | The comment contains references to illicit drugs or paraphernalia. |\n| **Homophobia** | The comment contains discriminatory content based on sexual orientation. |\n| **Instant Commenter Hide** | The commenter commented too soon after post creation, indicating they are likely a bot. |\n| **LGBTQ Slurs** | The comment contains slurs directed towards the LGBTQ+ community. |\n| **Mild Swearing** | The comment contains mild swearing. |\n| **Personal Attacks** | The comment contains a personal attack towards another commenter. |\n| **Political References** | The comment contains political references. |\n| **Pricing Sensitivity** | The comment is expressing sensitivity towards the price of the product, service, or membership. |\n| **Pride Month** | The comment is expressing a negative opinion related to Pride Month. |\n| **Product Quality** | The comment is expressing concern over the quality or capability of the product, service, or membership. |\n| **Racism** | The comment contains discriminatory content based on race. |\n| **Self-Harm** | The comment contains a threat of violence towards oneself. |\n| **Severe Swearing** | The comment contains severe swearing.\n| **Sexism** | The comment contains discriminatory content based on sex or gender. |\n| **Sexual References** | The comment contains sexual references.\n| **Shipping Complaints** | The comment is expressing a complaint related to the shipment of the product. |\n| **Short Spam Comment** | The commenter commented with a short messsage length too soon after post creation, indicating they are likely a bot. |\n| **Spam** | The comment contains irrelevant content for the purposes of advertising, phishing, and self-promotion. |\n| **Spam Profile** | The commenter profile is being used to spam. |\n| **Threat** | The comment contains a threat of violence towards an individual, organization, or location. |\n| **Temporary User Hide** | The commenter is currently blocked due to recent rejected comments. |\n| **Transphobia** | The comment contains discriminatory content based on transgenderism. |\n| **Trending Topics** | The comment contains references to trending topics. |\n| **Website App Link Issues/Outages** | The comment is mentioning an outage of a website or app. |\n"
      }
    },
    "/external_api/v1/comments": {
      "post": {
        "summary": "Submit a comment for moderation or analysis",
        "tags": [
          "Comments"
        ],
        "description": "Submit a new comment to Respondology for moderation and/or analysis. If moderation is enabled, results are\ndelivered asynchronously via webhook using the format defined in the\n[Comment Result Webhook](#tag/Comment-Results/paths/comment_result/post).\nWebhook endpoints can be configured or updated by contacting your account manager.\n\nQuota cost: 1\n",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The API key to use when processing the request. API keys are obtained from your account manager during account setup."
          }
        ],
        "responses": {
          "200": {
            "description": "comment submission accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment_id": {
                      "type": "string",
                      "example": "45305901000853414072",
                      "description": "The id of the comment that will be created from the submission. This id should be stored for future reference."
                    },
                    "account_id": {
                      "type": "string",
                      "example": "93135838437690541987",
                      "description": "The id of the account the submitted comment is associated with."
                    },
                    "screen_name": {
                      "type": "string",
                      "example": "johnsmith",
                      "description": "The screen name of the creator of the submitted comment."
                    },
                    "message": {
                      "type": "string",
                      "example": "This is a comment message.",
                      "description": "The message of the submitted comment."
                    },
                    "request_id": {
                      "type": "string",
                      "example": "2025-10-27-bb6315110cc5477bef57c619",
                      "description": "A unique id for the request that can be used for tracking and troubleshooting. It is recommended to store this id for future reference."
                    }
                  },
                  "required": [
                    "comment_id",
                    "account_id",
                    "screen_name",
                    "message",
                    "request_id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "param is missing or the value is empty: account_id"
                    }
                  },
                  "example": {
                    "error": "param is missing or the value is empty: account_id"
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "API key not found"
                    }
                  },
                  "example": {
                    "error": "API key not found"
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "message"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "example": "93135838437690541987",
                    "description": "Identifies the account the comment should be associated with. Account ids are obtained from your account manager during account setup."
                  },
                  "message": {
                    "type": "string",
                    "example": "This is a comment message.",
                    "description": "The comment message."
                  },
                  "moderate": {
                    "type": "boolean",
                    "example": true,
                    "default": false,
                    "description": "Whether the comment should be moderated. Enter either `true` or `false`. Defaults to `false` if omitted. Both moderated and unmoderated comments will appear in Discover for analysis if you have purchased a Discover package."
                  },
                  "posted_at": {
                    "type": "string",
                    "format": "date_time",
                    "example": "2025-07-14T12:00:00Z",
                    "description": "The time at which the comment was posted, in UTC time and ISO 8601 format. If omitted, the current time will be used by default."
                  },
                  "post_id": {
                    "type": "string",
                    "example": "82520585537490124386",
                    "description": "The id of the post the comment should be associated with. Post ids are obtained by creating a post via sending a POST request to the [external_api/v1/posts](#tag/Posts/paths/~1external_api~1v1~1posts/post) endpoint. If omitted, the comment will not be associated with a post."
                  },
                  "post_created_at": {
                    "type": "string",
                    "format": "date_time",
                    "example": "2025-07-13T18:00:00Z",
                    "description": "The time at which the post the comment is associated with was created, in UTC time and ISO 8601 format. May be used to detect rapid replies immediately following post creation that indicate bot activity, if desired."
                  },
                  "parent_comment_id": {
                    "type": "string",
                    "example": "03552159572427062345",
                    "description": "The id of the parent comment of replies. Parent comment ids are obtained by creating the parent comment first via a POST request to the [external_api/v1/comments](#tag/Comments/paths/~1external_api~1v1~1comments/post) endpoint. If omitted, it will be assumed the comment is a top-level comment rather than a reply."
                  },
                  "comment_permalink": {
                    "type": "string",
                    "example": "https://www.example.com/comments/abc",
                    "description": "A permanent link to the comment (or its post, if an individual comment link is not available.)"
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true,
                    "example": {
                      "key": "value"
                    },
                    "description": "A string or hash to be included with the comment result webhook, for any tracking required by your system."
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "example": [
                      "https://cdn.example.com/media/image_1.jpg",
                      "https://cdn.example.com/media/image_2.gif"
                    ],
                    "description": "Links to any images and gifs posted as comments (or parts of comments) for analysis and display on Respondology platforms. Image and gif moderation requires Moderate Plus or higher."
                  },
                  "message_tags": {
                    "type": "array",
                    "items": {
                      "type": "hashes",
                      "properties": {
                        "start": {
                          "type": "integer",
                          "example": 0
                        },
                        "length": {
                          "type": "integer",
                          "example": 10
                        },
                        "content": {
                          "type": "string",
                          "example": "@johnsmith"
                        }
                      }
                    },
                    "example": [
                      {
                        "start": 0,
                        "length": 10,
                        "content": "@johnsmith"
                      },
                      {
                        "start": 20,
                        "length": 12,
                        "content": "@janesmith_tag"
                      }
                    ],
                    "description": "Tags that identify mentions, hashtags, or other entities in the comment message. Enhances moderation results by providing additional context."
                  },
                  "user": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "user_123",
                        "description": "The id of the commenting user on your site. Required along with Moderate Plus for user profile analysis. "
                      },
                      "screen_name": {
                        "type": "string",
                        "example": "johnsmith",
                        "description": "The unique screen_name of the commenting user on your site. This field is used for automatically approving comments by allowlisted users, as well as blocking users with numerous rejected comments if desired."
                      },
                      "display_name": {
                        "type": "string",
                        "example": "John Smith",
                        "description": "The display name of the commenting user on your site."
                      },
                      "avatar_url": {
                        "type": "string",
                        "example": "https://www.example.com/avatar.jpg",
                        "description": "A link to the commenting user's avatar on your site. Required along with Moderate Plus for user profile analysis. "
                      },
                      "owner": {
                        "type": "boolean",
                        "example": false,
                        "description": "Whether the commenting user is the owner of the site or account where the comment is being posted. Owner comments are automatically approved and marked distinctly in Moderate, and filtered out of summarization and sentiment analysis in Discover."
                      },
                      "bio": {
                        "type": "string",
                        "example": "This is my bio.",
                        "description": "The biography field of the commenting user's profile on your site."
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date_time",
                        "example": "2021-01-01T00:00:00Z",
                        "description": "The time at which the commenting user was created on your site, in UTC time and ISO 8601 format."
                      },
                      "profile_link": {
                        "type": "string",
                        "example": "https://www.social.com/johnsmith",
                        "description": "An external link that is in the commenting user's profile on your site."
                      },
                      "additional_data": {
                        "type": "array",
                        "items": {
                          "type": "hashes"
                        },
                        "additionalProperties": true,
                        "example": {
                          "key": "value"
                        },
                        "description": "Any additional information about the commenting user, in string or hash format."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/external_api/v1/comments/{id}": {
      "patch": {
        "summary": "Update a previously submitted comment",
        "tags": [
          "Comments"
        ],
        "description": "Update information about an existing comment and re-moderate it if desired. Moderation results are returned\nasynchronously via webhook, following the format described in\n[Comment update result webhook](#tag/Comment-Results/paths/comment_update_result/post).\nContact your account manager to update the endpoint to which results should\nbe sent.\n\nQuota cost: 1\n",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The API key to use when processing the request. API keys are obtained from your account manager during account setup."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "45305901000853414072"
            },
            "description": "Identifies the comment to update. The comment id is obtained from the response when initially creating the comment."
          }
        ],
        "responses": {
          "200": {
            "description": "comment update accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment_id": {
                      "type": "string",
                      "example": "45305901000853414072",
                      "description": "The id of the updated comment."
                    },
                    "account_id": {
                      "type": "string",
                      "example": "93135838437690541987",
                      "description": "The id of the account the updated comment is associated with."
                    },
                    "screen_name": {
                      "type": "string",
                      "example": "johnsmith",
                      "description": "The screen name of the creator of the updated comment."
                    },
                    "message": {
                      "type": "string",
                      "example": "This is an updated comment message.",
                      "description": "The message of the updated comment."
                    },
                    "request_id": {
                      "type": "string",
                      "example": "2025-10-27-bb6315110cc5477bef57c619",
                      "description": "A unique id for the request that can be used for tracking and troubleshooting. It is recommended to store this id for future reference."
                    }
                  },
                  "required": [
                    "comment_id",
                    "account_id",
                    "screen_name",
                    "message",
                    "request_id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "param is missing or the value is empty: account_id"
                    }
                  },
                  "example": {
                    "error": "param is missing or the value is empty: account_id"
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "API key not found"
                    }
                  },
                  "example": {
                    "error": "API key not found"
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "message"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "example": "93135838437690541987",
                    "description": "Identifies the account the comment is associated with. Account ids are obtained from your account manager during account setup."
                  },
                  "message": {
                    "type": "string",
                    "example": "This is an updated comment message.",
                    "description": "The comment message."
                  },
                  "moderate": {
                    "type": "string",
                    "example": true,
                    "default": false,
                    "description": "Whether the comment should be moderated. Enter either `true` or `false`. Defaults to false if omitted. Both moderated and unmoderated comments will appear in Discover for analysis if you have purchased a Discover package."
                  },
                  "posted_at": {
                    "type": "string",
                    "format": "date_time",
                    "example": "2025-07-14T12:00:00Z",
                    "description": "The time at which the comment was posted, in UTC time and ISO 8601 format. If omitted, the current time will be used by default."
                  },
                  "post_id": {
                    "type": "string",
                    "example": "82520585537490124386",
                    "description": "The id of the post the comment should be associated with. Post ids are obtained by creating a post via sending a POST request to the [external_api/v1/posts](#tag/Posts/paths/~1external_api~1v1~1posts/post) endpoint. If omitted, the comment will not be associated with a post."
                  },
                  "post_created_at": {
                    "type": "string",
                    "format": "date_time",
                    "example": "2025-07-13T18:00:00Z",
                    "description": "The time at which the post the comment is associated with was created, in UTC time and ISO 8601 format. May be used to detect rapid replies immediately following post creation that indicate bot activity, if desired."
                  },
                  "parent_comment_id": {
                    "type": "string",
                    "example": "03552159572427062345",
                    "description": "The id of the parent comment of replies. Parent comment ids are obtained by creating the parent comment first via a POST request to the [external_api/v1/comments](#tag/Comments/paths/~1external_api~1v1~1comments/post) endpoint. If omitted, it will be assumed the comment is a top-level comment rather than a reply."
                  },
                  "comment_permalink": {
                    "type": "string",
                    "example": "https://www.example.com/comments/abc",
                    "description": "A permanent link to the comment (or its post, if an individual comment link is not available.)"
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true,
                    "example": {
                      "key": "value"
                    },
                    "description": "A string or hash to be included with the comment result, for whatever tracking is required by your system."
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "example": [
                      "https://cdn.example.com/media/image_1.jpg",
                      "https://cdn.example.com/media/image_2.gif"
                    ],
                    "description": "Links to any images and gifs posted as comments (or parts of comments) for analysis and display on Respondology platforms. Image and gif moderation requires Moderate Plus or higher."
                  },
                  "message_tags": {
                    "type": "array",
                    "items": {
                      "type": "hashes",
                      "properties": {
                        "start": {
                          "type": "integer",
                          "example": 0
                        },
                        "length": {
                          "type": "integer",
                          "example": 10
                        },
                        "content": {
                          "type": "string",
                          "example": "@johnsmith"
                        }
                      }
                    },
                    "example": [
                      {
                        "start": 0,
                        "length": 10,
                        "content": "@johnsmith"
                      },
                      {
                        "start": 20,
                        "length": 12,
                        "content": "@janesmith_tag"
                      }
                    ],
                    "description": "Tags that identify mentions, hashtags, or other entities in the comment message. Enhances moderation results by providing additional context."
                  },
                  "user": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "user_123",
                        "description": "The id of the commenting user on your site. Required along with Moderate Plus for user profile analysis. "
                      },
                      "screen_name": {
                        "type": "string",
                        "example": "johnsmith",
                        "description": "The unique screen name of the commenting user on your site. This field is used for automatically approving comments by allowlisted users, as well as blocking users with numerous rejected comments if desired."
                      },
                      "display_name": {
                        "type": "string",
                        "example": "John Smith",
                        "description": "The display name of the commenting user on your site."
                      },
                      "avatar_url": {
                        "type": "string",
                        "example": "https://www.example.com/avatar.jpg",
                        "description": "A link to the commenting user's avatar on your site. Required along with Moderate Plus for user profile analysis. "
                      },
                      "owner": {
                        "type": "boolean",
                        "example": false,
                        "description": "Whether the commenting user is the owner of the site or account where the comment is being posted. Owner comments are automatically approved and marked distinctly in Moderate, and filtered out of summarization and sentiment analysis in Discover."
                      },
                      "bio": {
                        "type": "string",
                        "example": "This is my bio.",
                        "description": "The biography field of the commenting user's profile on your site."
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date_time",
                        "example": "2021-01-01T00:00:00Z",
                        "description": "The time at which the commenting user was created on your site, in UTC time and ISO 8601 format."
                      },
                      "profile_link": {
                        "type": "string",
                        "example": "https://www.social.com/johnsmith",
                        "description": "An external link that is in the commenting user's profile on your site."
                      },
                      "additional_data": {
                        "type": "array",
                        "items": {
                          "type": "hashes"
                        },
                        "additionalProperties": true,
                        "example": {
                          "key": "value"
                        },
                        "description": "Any additional information about the commenting user, in string or hash format."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Check the current status of a comment",
        "tags": [
          "Comments"
        ],
        "description": "Return basic information about a comment. This endpoint may be used to confirm the current status of comment\ncreation, update, and deletion requests.\n\nQuota cost: 0\n",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The API key to use when processing the request. API keys are obtained from your account manager during account setup."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "45305901000853414072"
            },
            "description": "Identifies the comment to check. The comment id is obtained from the response when initially creating the comment."
          }
        ],
        "responses": {
          "200": {
            "description": "comment retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment_id": {
                      "type": "string",
                      "example": "45305901000853414072",
                      "description": "The id of the checked comment."
                    },
                    "account_id": {
                      "type": "string",
                      "example": "93135838437690541987",
                      "description": "The id of the account of the checked comment."
                    },
                    "screen_name": {
                      "type": "string",
                      "example": "johnsmith",
                      "description": "The screen name of the creator of the checked comment."
                    },
                    "message": {
                      "type": "string",
                      "example": "This is a comment message.",
                      "description": "The message of the checked comment."
                    },
                    "request_id": {
                      "type": "string",
                      "example": "2025-10-27-bb6315110cc5477bef57c619",
                      "description": "A unique id for the request that can be used for tracking and troubleshooting. It is recommended to store this id for future reference."
                    }
                  },
                  "required": [
                    "comment_id",
                    "account_id",
                    "screen_name",
                    "message",
                    "request_id"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "comment not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "comment not found"
                    }
                  },
                  "example": {
                    "error": "comment not found"
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "API key not found"
                    }
                  },
                  "example": {
                    "error": "API key not found"
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a previously submitted comment",
        "tags": [
          "Comments"
        ],
        "description": "Accepts a deletion request for a previously submitted comment.\n\nDeletion requests are processed asynchronously. It may take several moments for the change to propagate.\nTo confirm completion, query the\n[GET /external_api/v1/comments/{id}](#tag/Comments/paths/~1external_api~1v1~1comments~1%7Bid%7D/get)\nendpoint.\n\nQuota cost: 0\n",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The API key to use when processing the request. API keys are obtained from your account manager during account setup."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "45305901000853414072"
            },
            "description": "Identifies the comment to delete. The comment id is obtained from the response when initially creating the comment."
          }
        ],
        "responses": {
          "202": {
            "description": "comment delete accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment_id": {
                      "type": "string",
                      "example": "45305901000853414072",
                      "description": "The id of the comment that is being processed for deletion."
                    },
                    "request_id": {
                      "type": "string",
                      "example": "2025-10-27-bb6315110cc5477bef57c619",
                      "description": "A unique id for the request that can be used for tracking and troubleshooting. It is recommended to store this id for future reference."
                    }
                  },
                  "required": [
                    "comment_id",
                    "request_id"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "API key not found"
                    }
                  },
                  "example": {
                    "error": "API key not found"
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/external_api/v1/posts": {
      "post": {
        "summary": "Submit a post for moderation or analysis",
        "tags": [
          "Posts"
        ],
        "description": "Submit a new post to be used to aggregate comments for analysis and for context during moderation (if desired).\nPost creation confirmations are sent asynchronously via webhook, following the format described in\n[Post result webhook](#tag/Post-Results/paths/post_result/post). Contact your account manager to update the\nendpoint to which results should be sent.\n\nQuota cost: 1\n",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The API key to use when processing the request. API keys are obtained from your account manager during account setup."
          }
        ],
        "responses": {
          "200": {
            "description": "post submission accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post_id": {
                      "type": "string",
                      "example": "82520585537490124386",
                      "description": "The id of the post that will be created from the submission. This id should be stored for future reference, and included when submitting comments associated with the post."
                    },
                    "account_id": {
                      "type": "string",
                      "example": "93135838437690541987",
                      "description": "The id of the account the submitted post is associated with."
                    },
                    "screen_name": {
                      "type": "string",
                      "example": "johnsmith",
                      "description": "The screen name of the posting user."
                    },
                    "title": {
                      "type": "string",
                      "example": "This is a post title.",
                      "description": "The title of the submitted post."
                    },
                    "caption": {
                      "type": "string",
                      "example": "This is a post caption.",
                      "description": "The caption of the submitted post."
                    },
                    "request_id": {
                      "type": "string",
                      "example": "2025-10-27-bb6315110cc5477bef57c619",
                      "description": "A unique id for the request that can be used for tracking and troubleshooting. It is recommended to store this id for future reference."
                    }
                  },
                  "required": [
                    "post_id",
                    "account_id",
                    "screen_name",
                    "title",
                    "caption",
                    "request_id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "param is missing or the value is empty: account_id"
                    }
                  },
                  "example": {
                    "error": "param is missing or the value is empty: account_id"
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "API key not found"
                    }
                  },
                  "example": {
                    "error": "API key not found"
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "caption"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "example": "93135838437690541987",
                    "description": "Identifies the account the post should be associated with. Account ids are obtained from your account manager during account setup."
                  },
                  "caption": {
                    "type": "string",
                    "example": "This is a post caption.",
                    "description": "The caption of the post."
                  },
                  "title": {
                    "type": "string",
                    "example": "This is a post title.",
                    "description": "The title of the post. If the post only has one text field, use the `caption` field instead."
                  },
                  "posted_at": {
                    "type": "string",
                    "format": "date_time",
                    "example": "2025-07-14T12:00:00Z",
                    "description": "The time at which the post was created, in UTC time and ISO 8601 format. If omitted, the current time will be used by default."
                  },
                  "post_permalink": {
                    "type": "string",
                    "example": "https://www.example.com/posts/abc",
                    "description": "A permanent link to the post."
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true,
                    "example": {
                      "key": "value"
                    },
                    "description": "A string or hash to be included with the post creation result, for whatever tracking is required by your system."
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "example": [
                      "https://cdn.example.com/media/image_1.jpg",
                      "https://cdn.example.com/media/image_2.gif"
                    ],
                    "description": "Links to any images and gifs displayed on the post. If more than one image is submitted, the first image will be displayed on Respondology platforms. However, all images will be used to enhance contextual analysis and moderation of comments."
                  },
                  "user": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "user_789",
                        "description": "The id of the posting user on your site."
                      },
                      "screen_name": {
                        "type": "string",
                        "example": "johnsmith",
                        "description": "The unique screen name of the posting user on your site."
                      },
                      "display_name": {
                        "type": "string",
                        "example": "John Smith",
                        "description": "The display name of the posting user on your site."
                      },
                      "avatar_url": {
                        "type": "string",
                        "example": "https://www.example.com/avatar.jpg",
                        "description": "A link to the posting user's avatar on your site."
                      },
                      "owner": {
                        "type": "boolean",
                        "example": false,
                        "description": "Whether the posting user is the owner of the site or account where the post was created."
                      },
                      "bio": {
                        "type": "string",
                        "example": "This is my bio.",
                        "description": "The biography field of the posting user's profile on your site."
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date_time",
                        "example": "2021-01-01T00:00:00Z",
                        "description": "The time at which the posting user was created on your site, in UTC time and ISO 8601 format."
                      },
                      "profile_link": {
                        "type": "string",
                        "example": "https://www.social.com/johnsmith",
                        "description": "An external link that is in the user's profile on your site."
                      },
                      "additional_data": {
                        "type": "array",
                        "items": {
                          "type": "hashes"
                        },
                        "additionalProperties": true,
                        "example": {
                          "key": "value"
                        },
                        "description": "Any additional information about the user, in string or hash format."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/external_api/v1/posts/{id}": {
      "patch": {
        "summary": "Update a previously submitted post",
        "tags": [
          "Posts"
        ],
        "description": "Update information about an existing post. Confirmation is returned asynchronously via webhook, following the\nformat described in\n[Post update result webhook](#tag/Post-Results/paths/post_update_result/post). Contact\nyour account manager to update the endpoint to which results should be sent.\n\nQuota cost: 1\n",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The API key to use when processing the request. API keys are obtained from your account manager during account setup."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "45305901000853414072"
            },
            "description": "Identifies the post to update. The post id is obtained from the response when initially creating the post."
          }
        ],
        "responses": {
          "200": {
            "description": "post update accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post_id": {
                      "type": "string",
                      "example": "82520585537490124386",
                      "description": "The id of the updated post."
                    },
                    "account_id": {
                      "type": "string",
                      "example": "93135838437690541987",
                      "description": "The id of the account the updated post is associated with."
                    },
                    "screen_name": {
                      "type": "string",
                      "example": "johnsmith",
                      "description": "The screen name of the posting user."
                    },
                    "title": {
                      "type": "string",
                      "example": "This is an updated post title.",
                      "description": "The title of the updated post."
                    },
                    "caption": {
                      "type": "string",
                      "example": "This is an updated post caption.",
                      "description": "The caption of the updated post."
                    },
                    "request_id": {
                      "type": "string",
                      "example": "2025-10-27-bb6315110cc5477bef57c619",
                      "description": "A unique id for the request that can be used for tracking and troubleshooting. It is recommended to store this id for future reference."
                    }
                  },
                  "required": [
                    "post_id",
                    "account_id",
                    "screen_name",
                    "title",
                    "caption",
                    "request_id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "param is missing or the value is empty: account_id"
                    }
                  },
                  "example": {
                    "error": "param is missing or the value is empty: account_id"
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "API key not found"
                    }
                  },
                  "example": {
                    "error": "API key not found"
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "caption"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "example": "93135838437690541987",
                    "description": "Identifies the account the post is associated with. Account ids are obtained from your account manager during account setup."
                  },
                  "caption": {
                    "type": "string",
                    "example": "This is a updated post caption.",
                    "description": "The caption of the post."
                  },
                  "title": {
                    "type": "string",
                    "example": "This is a updated post title.",
                    "description": "The title of the post. If the post only has one text field, use the `caption` field instead."
                  },
                  "posted_at": {
                    "type": "string",
                    "format": "date_time",
                    "example": "2025-07-14T12:00:00Z",
                    "description": "The time at which the post was created, in UTC time and ISO 8601 format. If omitted, the current time will be used by default."
                  },
                  "post_permalink": {
                    "type": "string",
                    "example": "https://www.example.com/posts/abc",
                    "description": "A permanent link to the post."
                  },
                  "custom": {
                    "type": "object",
                    "additionalProperties": true,
                    "example": {
                      "key": "value"
                    },
                    "description": "A string or hash to be included with the post submission result, for whatever tracking is required by your system."
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "example": [
                      "https://cdn.example.com/media/image_1.jpg",
                      "https://cdn.example.com/media/image_2.gif"
                    ],
                    "description": "Links to any images and gifs displayed on the post. If more than one image is submitted, the first image will be displayed on Respondology platforms. However, all images will be used to enhance contextual analysis and moderation of comments."
                  },
                  "user": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "user_789",
                        "description": "The id of the posting user on your site."
                      },
                      "screen_name": {
                        "type": "string",
                        "example": "johnsmith",
                        "description": "The unique screen name of the posting user on your site."
                      },
                      "display_name": {
                        "type": "string",
                        "example": "John Smith",
                        "description": "The display name of the posting user on your site."
                      },
                      "avatar_url": {
                        "type": "string",
                        "example": "https://www.example.com/avatar.jpg",
                        "description": "A link to the posting user's avatar on your site."
                      },
                      "owner": {
                        "type": "boolean",
                        "example": false,
                        "description": "Whether the posting user is the owner of the site or account where the post was created."
                      },
                      "bio": {
                        "type": "string",
                        "example": "This is my bio.",
                        "description": "The biography field of the posting user's profile on your site."
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date_time",
                        "example": "2021-01-01T00:00:00Z",
                        "description": "The time at which the posting user was created on your site, in UTC time and ISO 8601 format."
                      },
                      "profile_link": {
                        "type": "string",
                        "example": "https://www.social.com/johnsmith",
                        "description": "An external link that is in the user's profile on your site."
                      },
                      "additional_data": {
                        "type": "array",
                        "items": {
                          "type": "hashes"
                        },
                        "additionalProperties": true,
                        "example": {
                          "key": "value"
                        },
                        "description": "Any additional information about the user, in string or hash format."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Check the current status of a post",
        "tags": [
          "Posts"
        ],
        "description": "Return basic information about a post. This endpoint may be used to confirm the current status of post\ncreation, update, and deletion requests.\n\nQuota cost: 0\n",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The API key to use when processing the request. API keys are obtained from your account manager during account setup."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "82520585537490124386"
            },
            "description": "Identifies the post to check. The post id is obtained from the response when initially creating the post."
          }
        ],
[...]
